@use "../abstracts" as a;

.l-body {
  font-family: a.$font-kumbh-sans;
  height: calc(100vh - 1rem);
  overflow: hidden;
  display: grid;
  place-items: center;
  background: a.$cl-dark-cyan;
  position: relative;
}

.l-stats {
  display: flex;
  padding: 0;
  list-style: none;
  margin: auto 0;
  width: 100%;
  justify-content: space-evenly;
}

.l-stats__item {
  text-align: center;
}
