@use "../abstracts" as a;

.l-body {
  font-family: a.$font-kumbh-sans;
  min-height: calc(100vh - 1rem);
  overflow: hidden;
  display: grid;
  place-items: center;
  background: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg"), a.$cl-dark-cyan;
  background-position: right calc(47vw + 15%) bottom calc(65vh - 15vw),
    left calc(40vw + 25%) top calc(72vh - 10vw);
  background-repeat: no-repeat;
  position: relative;
}

.l-stats {
  display: flex;
  padding: 0;
  list-style: none;
  margin: auto 0;
  width: 100%;
  justify-content: space-evenly;
}

.l-stats__item {
  text-align: center;
}
